.git
.next
.turbo
coverage
node_modules
client/node_modules
protocol/node_modules
server/node_modules
client/.next
client/test-results
client/storybook-static
client/tsconfig.tsbuildinfo
docs
map
*.log
